@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$font-family-base: 'DM Sans', sans-serif;
$headings-font-family: 'PT Sans', sans-serif;

$default-body: #f3f3f3;
$default-primary: #195ae0;
$default-secondary: #ffffff;
$default-parag: #161617;

$spacer:1rem;
$border-width:1px;

@import './animista.css';
@import './style.css';
